:root {
  --font-family: "DM Sans", sans-serif;
  font-weight: 400;

  --neutral-800: #170f49;
  --neutral-700: #514f6e;
  --neutral-600: #6f6c90;
  --neutral-500: #a0a3bd;
  --neutral-400: #d9dbe9;
  --neutral-300: #eff0f6;
  --neutral-200: #f7f7fb;
  --neutral-100: #fff;
  --primary-color-1: #4a3aff;
  --primary-color-2: #962dff;
  --secondary-color-1: #f3f1ff;
  
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--neutral-100);
}

.container {
  width: 100%;
  max-width: 1440px;
  padding: 50px 100px;
  margin: 0 auto;
}

.title {
  font-family: var(--font-family);
font-weight: 700;
font-size: 24px;
line-height: 146%;
color: var(--neutral-800);
}

.subtitle {
  font-family: var(--font-family);
font-weight: 400;
font-size: 18px;
line-height: 167%;
color: var(--neutral-600);
}
